<div class="container">
    <div class="login">
        <div class="contenedor-formulario">
            <div class="formulario">
                <div class="img">
                    <p>Welcome ACSJES</p>
                </div>
                <div class="email">
                    <input class="email-input" type="email" name="email" id="email" placeholder="email">
                </div>
                <div class="password">
                    <input class="email-input" type="password" name="email" id="password" placeholder="password">
                </div>
                <div class="boton-login">
                    <button>Login</button>
                </div>
            </div>
        </div>       
    </div>
</div>